<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/stylesheets/wishlist.css">

<body>
    <div class="main">
        <h2>My Wishlist</h2>
        <% if(wishlist) { %>
            <div class="cards">
                <% for( item of wishlist.products) { %>
                    <a href="/products/<%= item.productId._id %>">
                        <div class="card">
                            <img loading="lazy" src="<%= item.productId.imageUrl %>" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title"><b><%= item.productId.title %></b></p>
                                <p class="card-text">&#8377;<%= item.productId.price %></p>
                                <p class="card-text card-btn"><a href="/wishlist/remove/<%= item.productId._id %>">Remove</a></p>
                            </div>
                        </div>
                    </a>
                <% } %>
            </div>
        <% } %>
    </div>
</body>